<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="bg-sky-100 flex flex-col min-h-screen">
    <%- include('./partials/nav') %>
    <div class="flex-grow flex items-center justify-center">
        <div class="max-w-lg mx-auto">
            <p class="text-3xl text-indigo-600 text-center">404 Page Not Found</p>
        </div>
    </div>
</body>
</html>
