<!DOCTYPE html>
<html lang="en">
<%- include('head')%>
<body>
    <%- include('nav')%>
    <div class="text-center mx-auto max-w-4xl text-lg font-bold text-red-600 mt-20">
        <p> Something Went Wrong </p>
    </div>
</body>
</html>