<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body class="bg-sky-100 min-h-screen mx-auto ">
    <%- include('./partials/nav.ejs')%>
    <section>
      <div class="text-black font-mono max-w-4xl mx-auto text-center mt-16">
        <p>
          <span class="text-lg">Hello, </span> This is <span class="font-bold">Samiul Fahad.</span>
          And you are welcomed to visit my <span class="font-bold text-sky-400"> Auth App Project (Node.js) </span>
        </p>
        
      </div>
       <div class="text-black font-mono text-left mt-8 max-w-2xl mx-auto">
        <p class="text-lg font-bold">This is an Advanced Auth App. Here are the features:</p>
        <ul>
          <li>=> Full Authentication & Authorization</li>
          <li>=> Login, Signup, Reset Password</li>
          <li>=> Protected Route</li>
          <li>=> Sending Emails</li>
          <li>=> Error Handling</li>
        </li>
       </div>

       <div class="text-black font-mono text-left mt-4 max-w-2xl mx-auto">
        <p class="text-lg font-bold">Following technologies have been used: </p>
        <ul>
          <li>=> Express.Js</li>
          <li>=> Official MongoDB Native Driver</li>
          <li>=> Express-session for Session Management</li>
          <li>=> Bcrypt.js for Hashing Password</li>
          <li>=> EJS as templating engine</li>
          <li>=> Tailwind CSS for Styling</li>
        </li>
       </div>
       <div class="flex justify-center items-center gap-5 mt-8">
        <a href="" class="px-3 py-1 bg-sky-400 text-white rounded font-mono">About Me</a>
        <a href="" class="px-3 py-1 bg-sky-400 text-white rounded font-mono">View CV</a>
        <a href="" class="px-3 py-1 bg-sky-400 text-white rounded font-mono">Contact Me</a>
        <a href=""></a>

       </div>
    </section>
  </body>
</html>
