<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body class="bg-gray-200">
    <%- include('nav') %>
    <section>
        <% if(!isLoggedIn) { %>

            <div class="max-w-4xl mx-auto flex flex-col md:flex-row justify-center items-center md:px-10 md:space-x-16">
                <%- include('./forms/loginForm') %>
            </div>

        <% } else { %>

            <div class="text-lg text-center mx-auto max-w-4xl font-bold mt-10 text-green-500">
                <p>Your are Logged In and Your Session will be expired after 30 Sec of inactivity</p>
            </div>

        <% } %>
    </section>
</body>
</html>




<!-- <section>
        <% if(!isLoggedIn) { %>
            <div class="flex flex-col md:flex-row justify-center md:justify-between md:px-20 items-center max-w-4xl mx-auto">
                    <div class="bg-blue-300">
                        <div class="flex justify-center py-10 items-center bg-white">
                            <form class="bg-white" action="/login" method="POST">
                                <h1 class="text-gray-800 font-bold text-2xl mb-1">Login</h1>
                                <p class="text-sm font-normal text-gray-600 mb-7">Welcome Back</p>
                                
                                <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                                    </svg>
                                            <input class="pl-2 outline-none border-none" type="text" name="email" id="" placeholder="Email Address" />
                                </div>
                                <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                                            fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                                clip-rule="evenodd" />
                                    </svg>
                                                <input class="pl-2 outline-none border-none" type="text" name="password" id="" placeholder="Password" />
                                </div>
                                <button type="submit" class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Login</button>
                                <span class="text-sm ml-2 hover:text-blue-500 cursor-pointer">Forgot Password ?</span>
                            </form>
                        </div>
                    </div>

                    <div class="flex justify-center py-10 items-center bg-white">
                            <form class="bg-white" action="/signup" method="POST">
                                <h1 class="text-gray-800 font-bold text-2xl mb-1">Signup</h1>
                                <p class="text-sm font-normal text-gray-600 mb-7">You are welcomed to test my web app</p>
                                <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                                        fill="currentColor">
                                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                                            clip-rule="evenodd" />
                                    </svg>
                                    <input class="pl-2 outline-none border-none" type="text" name="name" id="" placeholder="Full name" />
                                </div>
                                
                                <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
                                    </svg>
                                            <input class="pl-2 outline-none border-none" type="text" name="email" id="" placeholder="Email Address" />
                                </div>
                                <div class="flex items-center border-2 py-2 px-3 rounded-2xl">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-400" viewBox="0 0 20 20"
                                            fill="currentColor">
                                        <path fill-rule="evenodd"
                                            d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                                clip-rule="evenodd" />
                                    </svg>
                                                <input class="pl-2 outline-none border-none" type="text" name="password" id="" placeholder="Password" />
                                </div>
                                <button type="submit" class="block w-full bg-indigo-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2">Signup</button>
                            </form>
                        </div>
                    </div>
            </div>
        <% } else { %>
            <div class="text-lg text-center mx-auto max-w-4xl font-bold text-blue-500">
                <p>Your are Logged In</p>
            </div>
        <% } %>
    </section> -->