<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="bg-sky-100">
    <%- include('./partials/nav') %>
    <section>
        <%- include('./forms/loginForm') %>        
    </section>
</body>
</html>