<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body class="bg-gray-200">
    <section>
        <%- include('projectSummary') %>
    </section>
    <section>
        <div class="maw-w-2xl text-lg font-bold mx-auto mt-8 text-center">
            <%= msg %>
        </div>    
    </section>
</body>
</html>