<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="bg-sky-100">
    <%- include('./partials/nav') %>
    <section>
        <div class="maw-w-2xl text-lg font-bold mx-auto mt-8 text-center">
            <%= msg %>
        </div>    
    </section>
</body>
</html>