<!DOCTYPE html>
<html lang="en">
<%- include('head')%>
<body>
    <%- include('nav')%>
    <div class="max-w-2xl mx-auto text-center mt-8 border-2 rounded-lg bg-slate-200 p-2">
        <p class="text-lg text-green-400 font-bold">Password Reset Link has been sent to the email address</p>
        <p class="text-lg text-red-400">If the email address is not found in our database, you need to enter the correct email address</p>
    </div>


</body>
</html>