<div class="max-w-4xl mx-auto text-center mt-6">
    <p class="text-lg font-semibold">Login-Signup System</p>  
    <p><span class="font-bold">Tech Used: </span> Node.JS | Express | Express-session | BcryptJS | MogoDB Native Driver | EJS | Tailwind CSS </p>
</div>