<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body class="bg-sky-100">
    <%- include('./partials/nav') %>
    <section>
        <div class="max-w-4xl mx-auto text-center mt-4 -mb-4">
        <% if(errorMsg) { %>
            <div class="p-2 bg-slate-200 border-2 rounded-lg">
                <div class="font-bold text-red-400"> <%= errorMsg %> </div>
            </div>
        <% } %>
        </div>
    </section>

    <section>
        <%- include('./forms/passwordResetForm') %>        
    </section>
</body>
</html>